[Desktop Entry]

# The type as listed above
Type=Application
Version=1.0
Name=JetBrains DataGrip
Comment=JetBrains IDE for Databases and SQL
Path=/opt/jetbrains/datagrip/bin
Exec=/opt/jetbrains/datagrip/bin/datagrip.sh
Icon=datagrip
Terminal=false
Categories=Development
StartupWMClass=jetbrains-datagrip
