[Desktop Entry]

# The type as listed above
Type=Application
Version=1.0
Name=JetBrains DataGrip
Comment=JetBrains IDE for Databases and SQL
Path=/usr/local/bin
Exec=/usr/local/bin/jetbrains-datagrip
Icon=datagrip
Terminal=false
Categories=Development
StartupWMClass=jetbrains-datagrip
