[Desktop Entry]

Type=Application
Version=1.0
Name=JetBrains DataSpell
Comment=JetBrains Data Analysis Toolkit
Path=/usr/local/bin
Exec=/usr/local/bin/jetbrains-dataspell
Icon=dataspell
Terminal=false
Categories=Development
StartupWMClass=jetbrains-dataspell
