[Desktop Entry]

Type=Application
Version=1.0
Name=JetBrains DataSpell
Comment=JetBrains Data Analysis Toolkit
Path=/opt/jetbrains/dataspell/bin
Exec=dataspell.sh
Icon=dataspell
Terminal=false
Categories=Development
StartupWMClass=jetbrains-dataspell
