[Desktop Entry]

# The type as listed above
Type=Application
Version=1.0
Name=JetBrains GoLand
Comment=JetBrains IDE for GO
Path=/opt/jetbrains/goland/bin
Exec=/opt/jetbrains/goland/bin/goland.sh
Icon=goland
Terminal=false
Categories=Development
StartupWMClass=jetbrains-goland
