[Desktop Entry]

# The type as listed above
Type=Application
Version=1.0
Name=JetBrains GoLand
Comment=JetBrains IDE for GO
Path=/usr/local/bin
Exec=/usr/local/bin/jetbrains-goland
Icon=goland
Terminal=false
Categories=Development
StartupWMClass=jetbrains-goland
