[Desktop Entry]

Type=Application
Version=1.0
Name=JetBrains IntelliJ IDEA
Comment=JetBrains IDE for Java
Path=/opt/jetbrains/idea/bin
Exec=/opt/jetbrains/idea/bin/idea.sh
Icon=idea
Terminal=false
Categories=Development
StartupWMClass=jetbrains-idea
