[Desktop Entry]

# The type as listed above
Type=Application
Version=1.0
Name=JetBrains IntelliJ IDEA CE
Comment=JetBrains IDE for Java
Path=/opt/jetbrains/idea-ce/bin
Exec=/opt/jetbrains/idea-ce/bin/idea.sh
Icon=idea-ce
Terminal=false
Categories=Development
StartupWMClass=jetbrains-idea-ce
