[Desktop Entry]

Type=Application
Version=1.0
Name=JetBrains IntelliJ IDEA
Comment=JetBrains IDE for Java
Path=/opt/jetbrains/idea/bin
Exec=idea.sh
Icon=idea
Terminal=false
Categories=Development
StartupWMClass=jetbrains-idea
