[Desktop Entry]

Type=Application
Version=1.0
Name=JetBrains IntelliJ IDEA
Comment=JetBrains IDE for Java
Path=/usr/local/bin
Exec=/usr/local/bin/jetbrains-idea
Icon=idea
Terminal=false
Categories=Development
StartupWMClass=jetbrains-idea
